/* 
  Made sure to make the line height of all the elements to 140% 
  to improve the readability. I also used a sans-serif font because
  I want the website to be modern and I also want it to appeal to 
  the new generation since that's most of the users
*/
/* 
  I chose a light theme since the website is mostly used in the daytime
  and there is also a lot of text and elements.
  */
/* 
  Colour family that i chose was sand, purple, grey, and white. I choose the sandy colour since
  the company is literally sahara so it represents the desert. The purple is associated with curiosity
  and mystery so I want people to feel curious when browsing for a product since you want to see 
  how much it costs or what it does. Grey and white are just there to neutralize these two colours.
*/
* {
  line-height: 140%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0 2.5%;
}
/* 
  Made it use sans-serif since it needs to be modern and it
  needs to appeal to the youth. Changed colour for the contrast
*/
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}
/* 
  Made a box design for the subheadings with a purpleish colour 
  according to the colour pallette that I'm using. Also it is my
  secondary colour option. Changed the font sized based on hiarchy. 
  Added a border and changed the text colour for the contrast
*/
h2 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b58abe;
  color: #080808;
  font-size: 40px;
  text-align: center;
  border: 1px groove #333333;
  margin: 0;
  padding: 8px;
}
/*
  Made the text bigger and improved the font. Also made it so that the line height is 34 pixels,
  there is 2px for word spacing, and there is only word spacing of 1 pixel. Made the font size 24 
  pixels and changed it to display as an inline block
 */
p {
  line-height: 34px;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: #525252;
  font-size: 24px;
  display: inline-block;
}
/* 
  just changed the background colour to a white-ish colour to neutralize
*/
main {
  background-color: #f6f6f2;
}
/*
  Made the header a sandy colour because it's the sahara 
  Also in colour psychology it represents elegance and it
  also gives you a cozy and elegant environment. This is 
  my primary colour
*/
header {
  background-color: #eab87e;
  border: 1px #333333;
  text-align: center;
}
/* Styled it so that the text could be on top of the logo */
#logo-home {
  display: inline-block;
  width: 25%;
}
.heading-spacing {
  margin-left: 40px;
  color: #333333;
  font-size: 24px;
}
#search {
  font-size: 20px;
}
/* 
  Used grey for a neutral colour so that it doesn't draw that much attention. Also used padding to
  separate the links a bit and to make it look better
*/
.top-nav {
  background-color: #bbaaae;
  padding: 4px 6px;
}
/* 
  Styled each link to look nicer and I made the font size bigger to improve readability.
  Also added a border and added a margin to make it look less clustered. Specified width
  so that they are more spaced out
*/
.top-nav a {
  font-weight: bold;
  color: #333333;
  margin: 30px;
  text-decoration: none;
  font-size: 24px;
}
ul {
  padding: 0%;
}
.text {
  width: 80%;
  display: inline-block;
}
/* 
  Added margin to make it less clustered and also added a border.
*/
.new-products {
  margin: 0px 30px;
  border: 2px groove #b58abe;
  padding: 1px 1px;
  display: inline-block;
}
/* 
  Added a margin and paddings to make it look less clustered. Also added a border with
  the purple colour from my pallete
*/
.staff-picks {
  margin: 15px;
  padding: 15px 10px;
  border: 4px groove #b58abe;
}
