body {
  line-height: 140%;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
}
/* Made a box design for the subheadings with a white background */
h2 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ba677d;
  text-align: center;
  border: 1px groove #333333;
  padding: 14px 16px;
}
/* Made the text bigger and improved the font */
p {
  line-height: 34px;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: #333333;
  font-size: 24px;
  display: inline-block;
}
/* just changed the background colour */
main {
  background-color: #f6f6f2;
}
/* Made the header a sandy colour because it's the sahara */
header {
  background-color: #eab87e;
  border: 1px #333333;
  text-align: center;
}
/* Styled it so that the text could be on top of the logo */
#logo-home {
  display: inline-block;
  width: 25%;
}
/*  */
.top-nav {
  background-color: #bbaaae;
  padding: 6px 15px 6px 15px;
}
/* Styled each link to look nicer with a box */
.top-nav a {
  font-weight: bold;
  color: #333333;
  margin: 10px;
  text-decoration: none;
  font-size: 24px;
  border-width: 1px 1px;
  width: 14%;
}
.text {
  width: 80%;
  display: inline-block;
}
.new-products {
  margin: 20px;
  border: 2px groove #333333;
  padding: 1px 1px;
  display: inline-block;
}
